@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This website is running on a Raspberry Pi Zero W!  
See our <a href="https://www.element14.com/community/community/project14/photography/blog/2021/07/11/just-a-test-troubleshooting-posting-issues">Blog</a> at Element14
to see how we made this AI ecosystem with our custom designed RA-Cam.</p>

    <div class="d-flex justify-content-start">-Sean and Connor</div>
    <div class="d-flex justify-content-center"><a data-toggle="tooltip" data-placement="right" data-offset="0,20" title="Github is a code version control cloud service that Microsoft acquired.  It allows one to quickly share and leverage code." class="btn btn-info" target="github" href="https://github.com/RaisingAwesome/RA-Cam">Github Repository</a></div>
    <div class="d-flex justify-content-center"><a href="Index" class="btn btn-primary mt-3">Back to the Cameras</a></div>
    <div class="d-flex justify-content-center mt-5">
        <img src="/Images/racam.png" class="img-fluid"/>
    </div>    
    <div class="d-flex justify-content-center">
        <strong>The RA-Cam:  A self organizing, smart cam for your home, property, and events</strong>
    </div>