@page
@model IndexModel
@{
    ViewData["Title"] = "RA-Cam";
}
<style>  
.rotate180 {  
    -webkit-transform:rotate(180deg);  
    -moz-transform: rotate(180deg);  
    -ms-transform: rotate(180deg);  
    -o-transform: rotate(180deg);  
    transform: rotate(180deg);  
}  
</style>  
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <div class="d-flex justify-content-center">
              <img loading="lazy" id="main_img" class="img-fluid" src="http://172.221.140.255:8555/stream.mjpg" style="max-height:640px;">
            </div>
            
            <form method=post class="p-0 m-0">
            <div class="d-flex justify-content-center">              
                  <div class="custom-control custom-switch mr-4">
                    <input type="checkbox" class="custom-control-input" id="switch_bai" name="switch_bai" onchange="checkbox_function('bai');">
                    <label class="custom-control-label" for="switch_bai">Baby AI</label>
                  </div>
                  <div class="custom-control custom-switch mr-4">
                    <input type="checkbox" class="custom-control-input" id="switch_hai" name="switch_hai" onchange="checkbox_function('hai');">
                    <label class="custom-control-label" for="switch_hai">Human AI</label>
                  </div>
                  <div class="custom-control custom-switch mr-4">
                    <input type="checkbox" class="custom-control-input" id="switch_sai" name="switch_sai" onchange="checkbox_function('sai');">
                    <label class="custom-control-label" for="switch_sai">Smiles AI</label>
                  </div>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch_nai" name="switch_nai" onchange="checkbox_function('nai');">
                    <label class="custom-control-label" for="switch_nai">Nature AI</label>
                  </div>              
            </div>
            </form>
            <div class="d-flex justify-content-center">
              <a id=7 name=7 data-toggle="tooltip" title="The selected camera will apply the AI modes you have selected above.  Click here to view recent photos snapped by the selected AI." data-placement="top" class="btn btn-info m-2" href="Snapshots">View AI Snapshots</a>
            </div>
        </div>
        <div class="col-lg-1">
          <div class="text-center">
            <small><b>RA-Cams</b></small></br>            
            @Html.Raw(Model.racams)
            </br>
            <div data-toggle="tooltip" data-placement="top" title="Click here to scan the RA-Cam network for newly connected RA-Cams.  It will only scan for devices on the same net as this web server." class='text-center'>
                <div data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-refresh"></i></div>
            </div>
              <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">                  
                  <div class="modal-content p-3">
                  <strong>SCANNING</STRONG>
                    This will take a few minutes.  Scanning for RA-Cams is now being performed in the background.</br></br>
                    Refresh the page later to see if anything new has arrived.
                    <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
             <div class="modal fade bd-example2-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-sm">                  
                  <div class="modal-content p-3">
                  <strong>Working...</STRONG>
                    Connecting to the camera and getting its current AI modes.
                  </div>
                </div>
              </div>
              <div class="modal fade bd-setAI-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-sm">                  
                  <div class="modal-content p-3">
                  <strong>Working...</STRONG>
                    Connecting to the camera and setting the AI mode.
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
@section scripts{
  <script type="text/javascript">
      function getAI(the_url){
        getAIType("bai", the_url);
        getAIType("hai", the_url);
        getAIType("sai", the_url);
        getAIType("nai", the_url);
      }
      function getAIType(the_type,the_url){         
        $('.bd-example2-modal-sm').modal('show');
        $.ajax({   
             type: "POST",
                  url: '?handler=Getter&the_type=' + the_type + '&the_url='+the_url, // Replace YOUR_CUSTOM_HANDLER with your handler.
                       contentType: "application/json; charset=utf-8",
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                      $('input:hidden[name="__RequestVerificationToken"]').val());
                  },
                  error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage + ".  " + textStatus);
                    $('.bd-example2-modal-sm').modal('hide');
                  },                  
                  dataType: "json"
              }).done(function (data) {
                  //alert(data);
                  if (data.includes("On")) {
                    $('#switch_'+ the_type).prop("checked", true);
                  } else {
                    $('#switch_'+ the_type).prop("checked", false);
                  }
                  $('.bd-example2-modal-sm').modal('hide');
              });        
      }
    </script>
    <script>
        function checkbox_function(the_type) {            
          var the_url=$("#main_img").attr("src").replaceAll('http://','');
          the_url=the_url.replaceAll('/stream.mjpg','');
          $('.bd-setAI-modal-sm').modal('show');
          $.ajax({   
             type: "POST",
                  url: '?handler=Setter&the_type='+ the_type + '&the_url='+the_url, // Replace YOUR_CUSTOM_HANDLER with your handler.
                  contentType: "application/json; charset=utf-8",

                  beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                      $('input:hidden[name="__RequestVerificationToken"]').val());
                  },
                  error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage + ".  " + textStatus);
                  
                  },                  
                  dataType: "json"
              }).done(function (data) {
                  //alert(data);
                  $('.bd-setAI-modal-sm').modal('hide');
              });
              
        }
        $(document).ready(function(){      
          
        });
    </script>
}
