@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You can see us, but we can't see you.  Also, data is tracked or shared from your visit.</p>
