@page
@model PrivacyModel
@{
    ViewData["Title"] = "Snapshots";
}
<h1>@ViewData["Title"]</h1>


<p class="lead">This page shows the various snapshots taken by the Visual AI powered by C++ and OpenCV</p>

<div class="d-flex justify-content-center"><a href="Index" class="btn btn-secondary">Back to the Cameras</a></div>
<div class="d-flex justify-content-start mt-5">
    <h1>Baby AI</h1>
     <p class="lead">This is essentially just a motion cam.  You use it in conjunction with your baby crib (or anytime you want motion).</p>
</div>
<div class="d-flex justify-content-start mt-5">
    <h1>Human AI</h1>
    <p class="lead">This AI looks for a full body.  It could be human or alien.</p>
</div>
<div class="d-flex justify-content-start mt-5">
    <h1>Smiles AI</h1>
    <p class="lead">This AI looks for a human face looking directly at the camera and then snaps a photo.</p>
</div>
<div class="d-flex justify-content-start mt-5">
    <h1>Nature AI</h1>
    <p class="lead">This AI is tuned to squirrels, deer, fox, and birds.</p>    
</div>
